@import "//bits.wikimedia.org/static-current/skins/MonoBook/main.css";
@import "//bits.wikimedia.org/static-current/resources/src/mediawiki.legacy/shared.css";
@import "//meta.wikimedia.org/w/index.php?title=MediaWiki:Common.css&action=raw&ctype=text/css";

#column-one {
	position: absolute;
	left: 0;
	top: 0;
}

#f-poweredbyico {
	float: left;
	height: 1%;
}

#footer {
	padding: .4em 0 2.2em 0;
}

#content {
	min-height: 540px;
}

h3, h4, h5, h6 {
	font-weight: normal;
}
