/* borrowed from http://toolserver.org/~pathoschild/stalktoy/ */
table.sortable th {
    padding: 4px 25px 4px 4px;
}

table.sortable thead .header {
    background-image: url('jquery.tablesorter/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
    cursor: pointer;
}

table.sortable thead tr .headerSortUp {
	background-image: url('jquery.tablesorter/asc.gif');
}

table.sortable thead tr .headerSortDown {
	background-image: url('jquery.tablesorter/desc.gif');
}

table.sortable .headerSortDown, table.sortable .headerSortUp {
	background-color: #999;
}
