@import "https://meta.wikimedia.org/w/load.php?debug=false&lang=en&modules=skins.monobook.responsive&only=styles&skin=monobook";
@import "https://www.wikimedia.org/static/current/resources/src/mediawiki.skinning/legacy.less";
@import "https://meta.wikimedia.org/w/index.php?title=MediaWiki:Common.css&action=raw&ctype=text/css";

#column-one {
	position: absolute;
	left: 0;
	top: 0;
}

#f-poweredbyico {
	float: left;
	height: 1%;
}

#footer {
	padding: .4em 0 2.2em 0;
}

#content {
	min-height: 540px;
}

h3, h4, h5, h6 {
	font-weight: normal;
}
