h1 {
	font-size: 150%;
	color: #222222;
	border-bottom: dashed 1px black;
}
h2 {
	font-size: 125%;
	text-decoration: underline;
}
h3 {
	font-size: 100%;
}
body {
	color: #444444;
	background-color: #eeeeee;
}
a, a:visited, a:hover {
	color: #555555;
	border-bottom: solid 1px #666666;
	text-decoration: none;
}
a:hover {
	border-bottom: dashed 1px #666666;
}
p.footer {
	margin-top: 3em;
	padding-top: 0.3em;
	border-top: dashed 1px black;
	font-size: small;
}
li {
	line-height: 145%;
}
#results a {
	display: block;
	text-decoration: none;
	border-bottom: none;
}
#results a:hover {
	color: #aa3300;
}
blockquote {
	font-style: italic;
}
table.wikitable {
background:#F9F9F9 none repeat scroll 0 0;
border:1px solid #AAAAAA;
border-collapse:collapse;
margin:1em 1em 1em 0;
}
.wikitable th, .wikitable td {
border:1px solid #AAAAAA;
padding:0.2em;
}
.wikitable th {
background:#F2F2F2 none repeat scroll 0 0;
text-align:center;
}
.wikitable caption {
font-weight:bold;
}
